<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pharmacy Finder</title>
  <link rel="stylesheet" href="/public/css/main_styles.css">
</head>

<body>
  {{{body}}}
</body>
<footer id="footer">
    Sanjeevni © 2022
    &nbsp &nbsp
    <form action="/pageInfo" method="POST" class="form">
        <button class="form" type="submit" name="aboutUs" value="aboutUs">About Us</button>
        <button class="form" type="submit" name="contactUs" value="contactUs">Contact Us</button>
    </form>  
  
</footer>

</html>