<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sanjeevni</title>
</head>
<body>
    <link rel="stylesheet" href="/public/css/main_style.css">
    {{{body}}}
</body>
</html>
