<header>
	<title>{{user.username}} Edit</title>
</header>
<link rel='stylesheet' href='public/css/main_style.css'/>
    <form method="POST" action="/edit" id="formForEditUser">
        <label for="address:" >Address:</label><br>
        <input type="text" id="address" name="address" placeholder="Address" ><br>
        <label for="phn_num" >Phone Number:</label><br>
        <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number"><br>
        <input type="submit" value="Submit" >
    </form>
    <div id="errorcheck">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </div>
    <form action="/dashboard/mypage" id="cancel" method="post" >
        <input type="submit" value="Cancel" />
    </form>
    <script src="/public/js/ClientSideUpdateProfile.js"></script>