<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<h1>{{title}}</h1>
  <section>
  <ul>
    {{#each results}}
    <li><a href="/pharmacy/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
  </section>
<a class="new" href="/">New search</a>
